DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/neondb?sslmode=require&pgbouncer=true&connect_timeout=15&pool_timeout=15&connection_limit=5"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/neondb?sslmode=require&connect_timeout=15"
PORT=10000
CLIENT_ORIGIN="https://your-service.onrender.com"
JWT_SECRET="replace-with-at-least-32-random-characters"
NODE_ENV="production"
